<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-icloud-document-storage"
      version="0.0.3">

    <name>iCloudDocumentStorage</name>
    <description>Cordova iCloud Document Storage Plugin</description>
    <author>Rich Browne</author>
    <license>MIT</license>
    <keywords>cordova,icloud,ios</keywords>
    <repo>https://github.com/remi-fouga/cordova-plugin-icloud-document-storage</repo>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/iCloudDocStorage.js" name="iCloudDocStorage">
        <clobbers target="iCloudDocStorage" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="iCloudDocStorage">
                <param name="ios-package" value="iCloudDocStorage"/>
            </feature>
        </config-file>


        <preference name="CONTAINER_NAME" default="default-value" />
        <preference name="CONTAINER_LABEL" default="default-value" />

        <config-file target="*-Info.plist" parent="UIFileSharingEnabled">
            <true/>
        </config-file>

        <config-file target="*-Info.plist" parent="LSSupportsOpeningDocumentsInPlace">
            <true/>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSUbiquitousContainers">
             <dict>
              <key>iCloud.$CONTAINER_NAME</key>
              <dict>
                <key>NSUbiquitousContainerIsDocumentScopePublic</key>
                <true/>
                <key>NSUbiquitousContainerName</key>
                <string>$CONTAINER_LABEL</string>
                <key>NSUbiquitousContainerSupportedFolderLevels</key>
                <string>any</string>
              </dict>
            </dict>
        </config-file>
        
        <source-file src="src/ios/iCloudDocStorage.swift" />

        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        <config-file target="*-Debug.plist" parent="com.apple.developer.icloud-container-identifiers">
            <array>
                <string>iCloud.$CONTAINER_NAME</string>
            </array>
        </config-file>

        <config-file target="*-Release.plist" parent="com.apple.developer.icloud-container-identifiers">
            <array>
                <string>iCloud.$CONTAINER_NAME</string>
            </array>
        </config-file>
        <config-file target="*-Debug.plist" parent="com.apple.developer.icloud-services">
            <array>
                <string>CloudDocuments</string>
            </array>
        </config-file>

        <config-file target="*-Release.plist" parent="com.apple.developer.icloud-services">
            <array>
                <string>CloudDocuments</string>
            </array>
        </config-file>
        <config-file target="*-Debug.plist" parent="com.apple.developer.ubiquity-container-identifiers">
            <array>
                 <string>iCloud.$CONTAINER_NAME</string>
            </array>
        </config-file>

        <config-file target="*-Release.plist" parent="com.apple.developer.ubiquity-container-identifiers">
            <array>
                 <string>iCloud.$CONTAINER_NAME</string>
            </array>
        </config-file>
        <config-file target="*-Debug.plist" parent="com.apple.developer.icloud-container-environment">
             <string>Development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="com.apple.developer.icloud-container-environment">
             <string>Production</string>
        </config-file>
        
    </platform>
</plugin>
